#rootContainer {
    max-width: 800px;
    padding-top: 10px;
}

.centerDiv {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

#listTitle {
    padding-bottom: 20px;
}

.invalidInputValue {
    border-color: red;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
}
